<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>Userinfo</h1>

			<%= attachment_image_tag current_user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size: '80x80' %><br>

			<table class="table table-hover">
				<tbody>
					<tr>
						<td>name</td>
						<td><%= current_user.name %></td>
					</tr>

					<tr>
						<td>introduction</td>
						<td><%= current_user.introduction %></td>
					</tr>
				</tbody>
			</table>

		<%= link_to(edit_user_path(current_user.id), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>

			<h1>New book</h1>

			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class: "edit-title" %>

			<h4>Opinion</h4>
			<%= f.text_area :body, class: "edit-body" %>
			<br>
			<%= f.submit 'Create Book', class: "btn btn-primary" %>
			<% end %>

		</div>

		<div class="col-xs-9">
			<h1>Users</h1>

			<table class="table table-striped">
			<thead>
				<tr>
					<th><p>image</p></th>
					<th><p>name</p></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><span><%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size:'50x50' %></span></td>
					<td><span><%= user.name %></span></td>
					<td><span><%= link_to "Show", user_path(user) %></span></td>
				</tr>
			</tbody>

			<% end %>
		</table>

		</div>
	</div>
</div>