<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>User info</h1>

			<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size:'80x80' %><br>

			<table class="table table-hover" style="table-layout:fixed;">
					<tr>
						<td width="120px;">name</td>
						<td><%= @user.name %></td>
					</tr>
					<tr>
						<td width="120px;">introduction</td>
						<td><%= @user.introduction %></td>
					</tr>
			</table>

			<% if current_user == @user %>
			<%= link_to(edit_user_path(current_user.id), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
			<% end %>

			<h1>New book</h1>

			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class: "edit-title" %>

			<h4>Opinion</h4>
			<%= f.text_area :body, class: "edit-body" %>
			<br>
			<%= f.submit 'Create Book', class: "btn btn-primary" %>
			<% end %>

		</div>

		<div class="col-xs-9">
			<h1>Books</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th><p>Image</p></th>
						<th><p>Title</p></th>
						<th><p>Opinion</p></th>
					</tr>
				</thead>
				<tbody>
					<% @user.books.each do |book| %>
					<tr>
						<td><span><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "img/no_image.jpg", size:'50x50' %></span></td>
						<td><span><%= link_to book.title, book_path(book.id) %></span></td>
						<td><span><%= book.body %></span></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>