<% if @book.errors.any? %>
<div class="explanation">
<h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
<ul>
	<% @book.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
    <% end %>
</ul>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>Userinfo</h1>

			<%= attachment_image_tag current_user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size: '80x80' %><br>

			<table class="table table-hover">
				<tbody>
					<tr>
						<td>name</td>
						<td><%= current_user.name %></td>
					</tr>

					<tr>
						<td>introduction</td>
						<td><%= current_user.introduction %></td>
					</tr>
				</tbody>
			</table>

		<%= link_to(edit_user_path(current_user.id), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>

			<h1>New book</h1>

			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class: "edit-title" %>

			<h4>Opinion</h4>
			<%= f.text_area :body, class: "edit-body" %>
			<br>
			<%= f.submit 'Create Book', class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-xs-9">
			<h1>Books</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th><p></p></th>
						<th><p>Title</p></th>
						<th><p>Opinion</p></th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td><%= link_to user_path(book.user.id) do %><%= attachment_image_tag book.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size:'50x50' %></td>
						<td><%= link_to book.title, book_path(book) %></td>
						<td><%= book.body %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>