<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-3" style="background-color: white">
			<h2>Userinfo</h2>

			<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size: '50x50' %><br>


			<table class="table table-hover" style="table-layout:fixed;">
					<tr>
						<td width="120px;">name</td>
						<td><%= @book.user.name %></td>
					</tr>
					<tr>
						<td width="120px;">introduction</td>
						<td><%= @book.user.introduction %></td>
					</tr>
			</table>

			<% if current_user == @user %>
			<%= link_to(edit_user_path(current_user.id), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
			<% end %>

			<h1>New book</h1>

			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class: "edit-title" %>

			<h4>Opinion</h4>
			<%= f.text_area :body, class: "edit-body" %>
			<br>
			<%= f.submit 'Create Book', class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-xs-9">
			<h1>Book detail</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<td><span><%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "img/no_image.jpg", size: '50x50' %></span></td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<!-- ユーザがログイン中の場合表示 -->
						<% if current_user.id == @book.user_id %>
						<td><span class="label label-success"><%= link_to "Edit", edit_book_path(@book.id) %></span></td>
						<td><span class="label label-danger"><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

